.custom-list {
    list-style: outside none;
    margin-left: 0;
    padding-left: 0;

    li {
        padding-left: 20px;
    }

    li:before {
        font-family: arial, helvetica, sans-serif;
        content: '';
        position: relative;
        float: left;
        text-indent: -20px;
    }
}




/* eight point star */
.eight-point-star {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eight-point-star li:before {
    content: '\2738';
    top: -1px;
}

.eight-point-star li {
    display: flex;
    gap: 10px;
}

.desc {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.img {
    display: flex;
    width: 400px;
    padding: 0px 10px;
    border-radius: 15px;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.img img {
    width: 400px;
    height: fit-content;
    border-radius: 15px;
    background-color: white;
}

.title {
    margin: 10px;
}

.footer {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 900px) {
    .desc {
        flex-wrap: wrap;
    }
    .img {
        width: 100%;
        margin-inline: 15%;
    }
    .img img{
        width: 100%;
        height: auto;
    }
}